/* --------------------------------------------------

	Google Red		:		#D44937
	Google Green	:		#35AC19
	Gray Button		:		#F3F3F3
	Button Border	:		#DEDDDD

-------------------------------------------------- */

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial, "sans serif";
}

h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #D44937;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

#main {
	height: 100%;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #f1f1f1;
}

header + div {
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 60px;
}

	header + div h2.left-submenu-content {
		width: 15%;
		display: inline-block;
		float: left;
		text-indent: 20px;
	}

	header + div div.center-submenu-content {
		width: 45%;
		float: left;
	}

	header + div div.center-submenu-content a {
		display: block;
		width: 70px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background-color: #F3F3F3;
		float: left;
		border-radius: 3px;
		margin: 10px 5px 0 0;
		border: 1px solid #DEDDDD;
		font-size: 0.7em;
		font-weight: bold;
	}

		header + div div.center-submenu-content a input {
			height: 24px;
		}

	header + div div.right-submenu-content {
		width: 40%;
		float: left;
		text-align: right;
	}

	header + div div.right-submenu-content span {
		float: right;
		margin-right: 5px;
	}

	header + div div a:hover {
		background-color: #F9F9F9;
		border: 1px solid #c2c2c2;
	}

	header + div div.right-submenu-content a {
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background-color: #F3F3F3;
		float: right;
		margin: 10px 0;
		border: 1px solid #DEDDDD;
		font-weight: bold;
	}

	header + div div.right-submenu-content a:hover {
		background-color: #F9F9F9;
		border: 1px solid #c2c2c2;
	}

	header + div div.right-submenu-content a:nth-child(3) {
		border-radius: 3px 0 0 3px;
		border-right: 0;
	}

	header + div div.right-submenu-content a:nth-child(2) {
		margin-right: 5px;
		border-radius: 0 3px 3px 0;
	}

	header + div div.right-submenu-content a:nth-child(1) {
		display: block;
		width: 70px;
		height: 30px;
		background-color: #F3F3F3;
		float: right;
		border-radius: 2px;
		margin: 10px 20px 10px 0;
	}

.sidebar {
	position: absolute;
	top: 110px;
	bottom: 0;
	width: 15%;
	float: left;
	overflow: auto;
	overflow-x: hidden;
}

	.sidebar ul:nth-child(1) {
	}

	.sidebar ul:nth-child(1) li a {
		display: block;
		width: 80%;
		margin: auto;
		height: 30px;
		line-height: 30px;
		text-indent: 20px;
		text-decoration: none;
		color: #000;
		font-size: 0.9em;
	}

	.sidebar ul:nth-child(1) a:hover {
		background-color: #f1f1f1;
		border-left: 5px solid #D44937;
	}

	.sidebar ul:nth-child(2) {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}

	.sidebar ul:nth-child(2) li a {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-decoration: none;
		color: #000;
		background-color: #F3F3F3;
		float: left;
	}

	.sidebar ul:nth-child(2) a:hover {
		background-color: gray;
	}

.content {
	position: absolute;
	top: 110px;
	left: 15%;
	bottom: 0;
	width: 85%;
	float: left;
	overflow: auto;
	overflow-x: hidden;
}

.message-row {
	background-color: #f1f1f1;
	border-bottom: 1px solid #dad9d9;
	height: 40px;
	line-height: 40px;
	font-size: 0.8em;
}

.message-row:first-of-type {
	border-top: 1px solid #dad9d9;
}

	#displayMessages a {
		/*font-weight: bold;*/
		width: 95%;
		display: inline-block;
	}

/***********************************************************************************************************
	#displayMessages a:visited {
		font-weight: normal;
	}
***********************************************************************************************************/

	.message-row input {
		width: 5%;
		margin: 3px 0;
	}

	.message-row span:nth-child(1) {
		width: 15%;
		display: inline-block;
	}

	.message-row div {
		width: 70%;
		display: inline-block;
	}

		.message-row div span:nth-child(1) {
			width: auto;
			display: inline-block;
		}

		.message-row div span:nth-child(2) {
			color: #9C9C8E;
		}

	.message-row span:nth-child(3) {
		width: 15%;
		display: inline-block;
		text-align: right;
		direction: rtl;
		text-indent: 30px;
	}

/* --------------------------------- */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5% 5% 3% 5%;
  background: #fff;
  width: 50%;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#popupContent h3:before {
	content: "Sender: ";
	font-weight: bold;
	font-size: 0.9em;
	color: #000;
}

#popupContent p:nth-child(2) {
	color: #000;
	margin: 0;
	padding: 0;
}

#popupContent p:nth-child(2):before {
	content: "Subject: ";
	font-weight: bold;
}

#popupContent p:nth-child(3):before {
	content: "Message: ";
	font-weight: bold;
}

#popupContent p:nth-child(4):before {
	content: "Date: ";
	font-weight: bold;
}

















